.margin_top_20 {
  margin-top: 20px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.slider_image {
  height: 650px;
}

.card_img_height {
  height: 230px;
}

.login_register_form {
  margin-right: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #24a19c;
  width: 420px;
  opacity: 0.7;

}

.login_register_button {
  background-color: rgb(36, 161, 156);
  color: #fff;
  border: 0px;
  width: 420px;

  border-radius: 50px;
  font-weight: Bold;
}

.login_register_button:hover {
  background-color: #23ada9;
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.login_button_width {
  width: 200px;
}

.location_header_style {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3b6978;
  width: 100%;
}

.location_component_style {
  margin-top: 40%;
  color: #3b6978;
  font-size: 28px;
}

.footer_style {
  background-color: #24a19c;
  color: #ffffff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0.9;
}

.location_card_button {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17pt;
  border: 0px;
  background-color: #24a19c;
}

.location_card_button:hover {
  background-color: #23ada9;
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.card_button {
  color: #fff;
  font-size: 14pt;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0px;
  background-color: #24a19c;
  height: 15%;
  width: 100%;
  border-radius: 0;
  text-align: center;
}

.card_button:hover {
  font-size: 14pt;
  background-color: #23ada9;
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.profile-image-style {
  width: 95px;
  height: 95px;
  margin: 20px;
}

.profile-card-style {
  margin: 20px;
  height: 400px;
}

.profile-font-style {
  color: #3b6978;
  font-size: 32px;
}

.profile_button {
  margin: 10px;
  border: 0px;
  background-color: #24a19c;
  color: #fff;
}

.profile_button:hover {
  background-color: #23ada9;
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.button_shadow {
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.dropdown_color {
  color: #000000;
}

.alert_showbox {
  margin-top: 20px;
  background-color: rgba(36, 161, 156, 0.5);
  color: #fff;
  border: 0px;
  width: 420px;
  height: 50px;

  border-radius: 50px;
  font-weight: Bold;
}

.alert_showbox_fail {
  margin-top: 20px;
  background-color: rgba(163, 34, 45, 0.5);
  color: #fff;
  border: 0px;
  width: 420px;
  height: 50px;
  border-radius: 50px;
  font-weight: Bold;
}

.share_button {
  bottom: 0;
  position: absolute;
  font-size: 18pt;
}

.image_box {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.comment_button {
  background-color: #24a19c;
  position: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 0;
  width: 100%;
  height: 65%;
  border: 0px;
  color: #fff;
}

.comment_button:hover {
  background-color: #23ada9;
  box-shadow: 5px 5px 10px 0px rgba(22, 109, 106, 0.7);
}

.edit_profile_image {
  width: 150px;
  height: 150px;
  margin: 20px;
}